body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/images/gif-jardim.gif");
    background-size: cover;
}

.btn-service>button {
    font-size: 16px;
    border-radius: 10px;
    background-color: white;
    gap: 13px;


}

.service-card {
    background-color: white;
    border-radius: 20px;
    padding: 40px;

}

.jardim-dos-sonhos {
    background-image: url("../../assets/images/gif-jardim.gif");
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-self: end;
    align-items: center;
}

.jardim-dos-sonhos>h3 {

    color: white;
    font-size: 20px;
    display: flex;
    ;
    justify-content: center;
}

.jardim-dos-sonhos>img {
    width: 100px;
    height: 120px;
    justify-self: center;
    align-items: center;

}

.title-service {
    font-size: 24px;
}

.subtitle-service {
    font-size: 16px;
    text-align: start;
}

.function-service{
    margin-top: 25px;
}

.line-function {
    width: 300px;
    display: flex;
    border: #1e40af 2px solid;
    justify-content: start;
    align-items: start;
    font-size: 16px;
    margin-bottom: 15px;
    gap: 12px;

}

.btn-solicitar {
    width: 180px;
    height: 45px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #2563eb;
    color: white;

}

.btn-solicitar:hover {
    transform: translateY(-2px);
}

.solicitar button {
    margin-top: 60px;
    border-radius: 20px;
    font-size: 20px;
    padding: 12px 20px 12px 20px;
}

.all-call {
    border: solid #2563eb 1px;
    background-color: white;
    color: #2563eb;
}

.all-call>img {
    margin-left: 10px;
    margin-right: 10px;
}

.solicitar-orc {
    background-color: #2563eb;
    border: solid #2563eb 1px;
    color: white;
    /* display: flex;
  justify-content: center; */
}

.solicitar-orc:hover {
    background-color: white;
    border: solid #1e40af 1px;
    color: #2563eb;
    transform: translateY(-2px);
}

.all-call:hover {
    background-color: #2563eb;
    border: solid #2563eb 1px;
    color: white;
    transform: translateY(-2px);
}

.solicitar>h5 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

.solicitar>p {
    font-size: 16px;
    display: flex;
    justify-content: center;

}

.solicitar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;

}


.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;

}

.title-garantia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-garantia>h3 {
    margin-top: 32px;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.title-garantia>p {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
}

.text-garantia>p {
    font-size: 16px;
    /* text-align: center; */
}

.text-garantia>h5 {
    font-size: 20px;
    /* text-align: center; */

}

.text-garantia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    margin-bottom: 40px;
    border: #1e40af 2px solid;
    width: 890px;
}

.tittle-wrapper {
    display: flex;
    border: #1e40af 2px solid;
    justify-content: start;
    align-items: start;
    font-size: 20px;
}

.nossas-garantias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}