* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, rgba(37, 99, 235, 0.9) -10%, rgba(255, 255, 255, 0) 100%);
}

/* HEADER */
header {
    position: relative;
    width: 100%;
    height: 172px;
    background-color: #2563EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon {
    position: absolute;
    right: 700px;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
    z-index: 9999;
}

.header-text h1 {
    font-size: 32px;
    margin: 10px;
    color: #FFFFFF;
}

.header-text p {
    font-size: 20px;
    margin-top: -5px;
    text-align: center;
    color: #C1C1C1;
    font-weight: 500;
}

.header-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: -1px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

/* MAIN */
main {
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(170vh - 80px);
    text-align: left;
}

/* FORM */
form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: -20px;
    width: 1072px;
    height: 727px;
    margin-top: 80px;
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.form-group {
    width: 485px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
}

.date-cvv-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
}

.date-cvv-container .input-group:first-child {
    flex: 2;
    width: 320px;
}

.date-cvv-container .input-group:last-child {
    flex: 0 0 100px;
    width: 100px;
}

.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 3px;
    font-size: 14px;
    color: #333333;
}

label[for="infocliente"] {
    display: inline;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 600;
    margin-top: -8px;
    margin-bottom: 16px;
    color: #000000;
}

input {
    width: 100%;
    height: 44px;
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border: 1px solid #2563EB;
    border-radius: 6px;
    background: #ffffff;
    color: #000000;
}

input::placeholder {
    color: #656565;
    opacity: 1;
}

input:focus {
    outline: none;
    border-color: #2563EB;
}

#installments {
    border-color: #656565;
}

button {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    padding: 12px;
    background-color: #2563EB;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #1a47c2;
}

/* MÉTODOS DE PAGAMENTO */
.inner-box {
    width: 485px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(32, 20, 255, 0.33),
                0 -4px 20px rgba(0, 0, 0, 0.17);
    padding: 16px;
    height: 90px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inner-box label {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    position: relative;
    top: 3px;
}

.payment-methods {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.payment-methods label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    top: 5px;
}

.payment-methods p {
    display: inline-block;
    color: #000000;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    margin: 0;
}

.payment-methods label:hover {
    transform: translateY(-6px);
    color: #000;
}

.payment-methods input[type="radio"] {
    width: 10px;
    height: 10px;
    accent-color: #2563EB;
    cursor: pointer;
}

/* TERMOS */
.terms-box {
    width: 485px;
    height: 102px;
    font-size: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(32, 20, 255, 0.27),
                0 -4px 20px rgba(0, 0, 0, 0.15);
    padding: 18px 24px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: -10px;
    color: #000;
}

.terms-box label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 11px;
    font-weight: 500;
}

.terms-box input[type="checkbox"] {
    width: 10px;
    height: 10px;
    accent-color: #2563EB;
}

.terms-box a {
    color: #2563EB;
}

/* RESUMO DO PEDIDO */
.order-summary {
    position: absolute;
    top: 107px;
    right: 49px;
    width: 420px;
    height: 484px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    z-index: 4;
}

.order-summary h2 {
    font-size: 19px;
    font-weight: 600;
    color: #2563EB;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.order-summary .initial-itens {
    margin-bottom: 80px;
}

.order-summary .item,
.order-summary .subtotal,
.order-summary .taxa,
.order-summary .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    white-space: nowrap;
    margin-bottom: 12px;
}

/* Alinha os textos agora com <p> */
.order-summary p {
    font-size: 14px;
    color: #868686;
    margin: 0;
    line-height: 1.4;
}

.order-summary .item p:first-child,
.order-summary .subtotal p:first-child,
.order-summary .taxa p:first-child,
.order-summary .total p:first-child {
    width: 220px;
    display: inline-block;
    text-align: left;
   
}

.order-summary .item p:first-child {
    color: #000000;
    font-weight: 600;
}

.order-summary .subtotal p:first-child {
    color: #868686;
    font-weight: 600;
   
}

.order-summary .item p:last-child,
.order-summary .subtotal p:last-child {
    color: #000000;
    font-weight: 600;
    text-align: right;
    
}

.order-summary .taxa p:first-child {
    color: #868686;
    font-weight: 600;
    
}

.order-summary .taxa p:last-child {
    color: #2563EB;
    font-weight: 600;
    text-align: right !important;
}

.order-summary .total p:first-child {
    color: #000000;
    font-weight: 600;
}

.order-summary .total p:last-child {
    color: #2563EB;
    font-weight: 600;
    text-align: right;
}

/* PAGAMENTO SEGURO */
.order-summary .secure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    left: -70px;
    margin-top: 15px;
    padding-top: 10px;
    text-align: center;
}

.order-summary .secure img {
    margin: 8px 0 0 191px;
}

.order-summary .secure p {
    font-size: 14px;
    font-weight: 600;
    color: #797979;
}
